@using Nskd
@model AreasAgrs.Areas.Agrs.Models.F1Model
@{
    Int32 ci = (Int32)ViewData["ci"];
    NpcDataRow row = Model.WorkingData.Rows[0];
    NpcDataColumn col = Model.WorkingData.Columns[ci];
}
<div style="overflow: hidden;">
    <span>@col.Caption</span>
</div>
